body {
    
    background-color: rgb(240, 199, 226);

}

.img {
    display: flex;
    justify-content: center;
}

.image {
    border-radius: 1em;
    box-shadow:1px 1px 5px 5px #e79dee;
    padding: 1em;
    width: 15em;
    
    
    
}

.nombre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1c1b1b;
    display: flex;
    justify-content: center;
    
}